<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="flex flex-1 w-full h-16 bg-orange-200 px-[5%] justify-between items-center">
        <div class="bg-brown h-100 w-100 border border-green flex">
            <img src="" alt="">
            <a href="" class="text-black text-xl">Admin Panel</a>
        </div>

        <div class="flex flex-1 items-center justify-center gap-4 text-xl">
            <a href="">Home</a>
            <a href="">Shop</a>
            <a href="">About-us</a>
            <a href="">Contact-us</a>
            <a href="">Track order</a>
        </div>
                   
        <div class="flex gap-5">
            <a href="" class="flex items-center text-xl font-bold">Login</a>
            <a href="" class="flex items-center text-xl font-bold">Sign-up</a>
            <a href=""><i class="fa-solid fa-cart-shopping cursor-pointer hover:text-orange-700 text-xl p-1"></i></a>

        </div>
        
    </div>
</body>
</html>


{% block content %}

{% endblock %}